<!-- about.html -->
{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
  <div class="container">
    <h1>About MyToDoAPP</h1>
    <p>This website is a simple Todo List application built using Flask, a micro web framework for Python.</p>
    <p>It was created as a learning project to explore the capabilities of Flask and to demonstrate a basic CRUD (Create, Read, Update, Delete) application.</p>
    <p>The application allows users to create, read, update, and delete todo items, and also provides a search functionality to find specific todo items.</p>
    <p>In addition to Flask, this application also uses Bootstrap for styling and layout, and Jinja2 for templating.</p>
    <p>If you're interested in learning more about Flask or exploring other options for building web applications, I recommend checking out the following resources:</p>
    <ul>
      <li><a href="https://flask.palletsprojects.com/en/2.0.x/">Flask Documentation</a></li>
      <li><a href="https://getbootstrap.com/">Bootstrap Documentation</a></li>
      <li><a href="https://jinja.palletsprojects.com/en/3.0.x/">Jinja2 Documentation</a></li>
    </ul>
  </div>
{% endblock body %}